body {
  background-image: url("img/fullsize/fondo-eladio-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.texto {
  margin: 25px auto 50px auto;
  padding: 20px;
  width: 400px;
  height: 100px;
  font-size: 23px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

.texto p {
  color: #777777;
}

.texto h2 {
  color : #969696;
}

.container2 {
  height: 999px;
  width: 1440px;
  display: flex;
  flex-wrap: wrap-reverse;
  border: 2px solid #000000;
  margin: 50px 100px 100px 100px;
}

.foto {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 100px;
}


.botones {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-radius: 10px;
  border: 2px solid #ffffff;
  width: 150px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  padding-top: 10px;
}


.botones2 {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-bottom: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

